<div class="container mt-4">
    <h2 class="fw-bold">Documentos por aprobar</h2>
    <p class="text-muted">Documentos enviados por usuarios para revisión</p>

    <div class="table-responsive mt-3">
        <table class="table table-striped table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Enviado por</th>
                    <th>Fecha envío</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>

            <tbody id="tabla-aprobar"></tbody>
        </table>
    </div>
</div>